.LandView{
    margin: 15px;
    padding: 15px;
    border: 3px groove lightslategrey;
    border-radius: 50px;
    background-color: #dddddd;
    overflow: hidden;
}

.land-info {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-container {
    display: flex;
    justify-content: space-between;
}

.left-table, .right-table {
    width: calc(50% - 10px);
}

.left-table table, .right-table table {
    width: 100%;
}

.land-info h2 {
    color: #333;
    margin-bottom: 20px;
}

.land-info h3 {
    color: #555;
    margin-top: 20px;
}

.land-info table {
    border-collapse: collapse;
}

.land-info td {
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
}

.land-info td:first-child {
    font-weight: bold;
}

.landview-trash-btn {
    text-align: center;
    margin-top: 10px;
}

.landview-trash-btn button {
    margin: auto;
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: default;
    transition: background-color 0.3s;
    width: 50px;
    height: 50px;
    text-align: center;
}

.landview-trash-btn button:hover {
    background-color: #e74c3c;
}
 

