/* landForm.css */

.LandForm {
    width: 600px;
    margin: 30px 0px 0px 450px;
    padding: 10px;
    border: 3px groove #ccc;
    border-radius: 20px;
}

.landform-header{
    font-size: 18px;
    text-align: center;
}

.landform-label{
    width: 300px;
}

.landform-group {
    display: inline-flex;
    flex-direction: row;
    margin: auto;
    width: 500px;
}

.landform-control{
    margin: auto;
    width: 500px;
    height: 10px;
    outline: none;
}

.landform-submit-container{
    margin: auto;
}

.landform-submit-btn{
    padding: 5px;
    border-radius: 20px;
}