.navbar {
  background-color: #7D4E57;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar-links {
  display: flex;
  align-items: center;
  color: white;
}

.navbar-title {
  font-size: 1.5rem;
  text-decoration: none;
  cursor: default;
  color: white;
}

.navbar-link {
  border: 1px solid lightslategray;
  border-radius: 20px;
  padding: 10px;
  margin-left: 20px;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease; 
  cursor: default;
  background-color: #FF6B6B;
}

.navbar-link:hover {
  transform: scale(1.01); 
  color: black; 
}
