.RecordView {
    margin: 15px;
    padding: 10px;
    border: 3px groove lightslategrey;
    border-radius: 50px;
    background-color: #f9f9f9;
    overflow: hidden;
}

.loading-animation{
    height: fit-content;
}

.record-list-header{
    margin: auto;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 18px;
}

.record-table{
    margin: auto;
    width: 95%;
}

.record-table-head{
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    text-align: center;
    cursor: default;
}

.record-table-row{
    background-color: #fff;
    cursor: default;
}

.record-table-row:hover{
    background-color: #eee;
    transform: scale(1.01);
    transition-property: transform, background-color;
    transition: 0.7s ease-in-out;
}

.record-table-data{
    padding: 4px;
    border: 1px solid #dddddd;
    text-align: left;
}
