.TableView{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.search-container{
  display: inline-flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 25px;
}

.search-bar{
  height: 25px;
  width: 300px;
  outline: none;
  border: none;
  border-bottom: 2px inset blue;
  text-align: center;
}

.search-bar::placeholder{
  text-align: center;
}

.sort-btn{
  height: 25px;
  width: 75px;
  text-align: center;
  margin: 10px 0px 0px 25px;
  border-radius: 50px;
  border: 3px inset blue;
}

.sort-option{
  background-color: white;
}


.tableview-container {
  width: 95%;
  border-collapse: collapse;
  margin: auto;
}

/* Basic styling for table header */
.tableview-head {
  background-color: #f2f2f2;
  border: 1px solid #dddddd;
  padding: 12px;
  text-align: center;
  cursor: default;
}

.tableview-row-data {
  border: 1px solid #dddddd;
  padding: 10px;
  text-align: center;
}

.tableview-row{
  background-color: #fff;
  cursor: default;
}

.tableview-row:hover{
  background-color: #eee;
  transform: scale(1.01);
  transition-property: transform, background-color;
  transition: 0.7s ease-in-out;
}

.table-link{
  text-align: center;
  text-decoration: none;
  cursor: default;
}

/* Styling for table rows */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Styling for table rows when hovered */
tr:hover {
  background-color: #ddd;
}

/* Styling for the link in the details column */
td > a {
  text-decoration: none;
  color: blue;
  cursor: default;
}

/* Styling for the link in the details column when hovered */
td > a:hover {
  text-decoration: underline;
}
