.dashboard {
  margin: auto;
}

.graph-card-header{
  transform: translateY(-10px);
  text-align: center;
}

.graph-container {
  margin: 20px 0px 0px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 20px;
}

.dashboard-card {
  height: 400px;
  width: 650px;
  border-radius: 20px;
  padding: 20px;
  transition: all 0.3s ease; 
}

.graph-card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); 
}