.user-count-info {
  margin: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, auto); 
  grid-gap: 16px; 
}

.grid-item {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  padding: 16px; 
  text-align: center; 
  overflow: hidden; 
  background-color: #f2f2f2; 
  color: #333; 
}

.login,
.login-count {
  grid-column: span 1;
  grid-row: span 1; 
}

.stylish-split {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.stylish-left-section,
.stylish-right-section {
  flex-basis: 48%; 
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; 
  background-color: #f2f2f2; 
  color: #333; 
}

.stylish-left-section h3,
.stylish-right-section h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1.2rem;
  color: #444;
}

.stylish-left-section p,
.stylish-right-section p {
  margin: 0;
  font-size: 1rem;
  color: #555; 
}